@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Alexandria<br />
    6 Street Al-Demerdash, SanStefanoo <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:muhammed.mourad@ejust.edu.eg">muhammed.mourad@ejust.edu.eg</a><br />
    <strong>Marketing:</strong> <a href="mailto:muhammed.mourad@ejust.edu.eg">muhammed.mourad@ejust.edu.eg</a>
</address>