@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Destination Views</h1>
    <p class="lead">Destination-Views Company is a company for future Views, Solutions, Technologies, Big Data, Artificial Intiligent and Web, Mobile Development.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>BigData</h2>
        <p>
            We provide all serviecs related to BigData. Contact to our for more information.
        </p>
        <p><a class="btn btn-default" href="">Contact Us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Artificial Intiligent</h2>
        <p>
            We provide you with all trendy technologies related to Artificial Intiligent.
        </p>
        <p><a class="btn btn-default" href="">Contact Us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Solutions</h2>
        <p>
            We can provide you with efficient, special, depend on sciences and more solutions.        
        </p>
        <p><a class="btn btn-default" href="">Contact Us &raquo;</a></p>
    </div>
</div>